<div class="container">
  <div class="row">
    <div class="col-12">
      <img src="/assets/burger.png" alt="Burger Image">
    </div>
    <div class="col-12">
      <h1>Eat-Da-Burger!</h1>
    </div>
  </div>
  <div class="row toEatList">
    <div class="col-6 notDevouredList">
      <h5>Burgers that are not Devoured</h5>
      <div>
        {{#each notDevoured}}
        <div class="row">
          <div class="col 8">
            <p class="burgerName">{{this.burger_name}}</p>
          </div>
          <div class="col 4">
            <button type="button" class="btn btn-default devourBtn" data-burgerID={{this.id}}>Devour!</button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="col-6 devouredList">
      <h5>Burgers that are Devoured</h5>
      <div>
        {{#each devoured}}
        <div class="row">
          <div class="col 8">
            <p>{{this.burger_name}}</p>
          </div>
          <div class="col 4">
            <button type="button" class="btn btn-default removeBurger">X</button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <form class="create-form">
    <textarea rows="4" cols="50" name="newBurger" id="addBurger" placeholder="Enter Burger Name"></textarea>
    <p>Enter a burger you want to eat. Click the "Add Burger" button to add to your list Burger List.</p>
    <button type="submit" class="btn btn-default addBurgerBtn">Add Burger</button>
  </form>
  <br>
  <br>



</div>